# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Database (Data kehadiran tetap lokal)
attendance.db

# Virtual Environment
venv/
.env/
env/

# Folder Models (File besar, diunduh via script)
models/

# Data wajah (Privasi user)
known_faces/

# Folder Backup/Temporary Assets
assets/temp/

# OS files
.DS_Store
Thumbs.db
desktop.ini